@use 'public/styles/_global-style.scss';

:root {
    --safe-area-inset-top: 51px;
    --safe-area-inset-bottom: 51px;
}

.safe-area-container {
    padding-top: var(--safe-area-inset-top);
    padding-bottom: var(--safe-area-inset-bottom);
}
