@use './colors.scss';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    line-height: 21px;
    font-family: 'Inter', sans-serif;
}

body {
    color: var(--contentPrimary);
    background-color: var(--backgroundSecondary);
}
